img {
    height: 12rem;
    border: 1px solid gray;
    border-radius: 50%;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 0 0 0;
    min-width: 100%;
}

.student-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.card-text{
    margin-bottom: 0;
    font-size: 20px;
    /* color: gray; */
}

.student-filter{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 30px;
}

#tag-entry{
    border: none;
    border-bottom: 1px solid gray;
}

.fa-plus{
    color: gray;
}

.tag{
    min-width: 5rem;
    width: auto;
    height: 3em;
    overflow: hidden;
}

input:focus{
    outline: none;
}